-i https://pypi.org/simple
absl-py==0.6.1
astor==0.7.1
gast==0.2.0
graphviz==0.10.1
grpcio==1.16.0
h5py==2.8.0
keras-applications==1.0.6
keras-preprocessing==1.0.5
keras==2.2.4
markdown==3.0.1
numpy==1.15.3
pandas==0.23.4
pillow==5.3.0
protobuf==3.6.1
pydot==1.2.4
pyparsing==2.2.2
python-dateutil==2.7.5
pytz==2018.7
pyyaml==3.13
scipy==1.1.0
six==1.11.0
tensorboard==1.11.0
tensorflow==1.11.0
termcolor==1.1.0
torch==0.4.1
torchvision==0.2.1
werkzeug==0.14.1
wheel==0.32.2 ; python_version >= '3'
